<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Basic Banking System </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link th:href="@{/css/style.css}" rel="stylesheet"></link>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

	<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home}">Basic Banking System</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link " aria-current="page"  th:href="@{/home}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  th:href="@{/customers}">Customers</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-4">
					<h2 class="heading-section">Transfer</h2>


						<form name='transfer' th:action="@{/transfer}" method='POST'>


							<p class="p-3 font-bold">From:
								<span class="p-3 font-bold" th:text="${from.name}"></span></p>

							<p class="p-3 font-bold">Transfer to:</p>
							<input type="hidden" th:value="${from.id}" name="fromId"/>

							<select name="toId" class="p-3 font-bold">
								<option th:each="customer : ${toCustomers}"
										th:value="${customer.id}"
										th:utext="${customer.name}"
										class="p-3 text-left"/>
							</select>

							<input name="amount" type="number" value="Amount" required/>
							<input name="submit" class="btn btn-secondary" type="submit" value="Transfer"/>

						</form>

				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

